<br>
{{- $scratch := newScratch }}

<!-- Display Author on the first line -->
{{- if not (.Param "hideAuthor") -}}
  {{- with (partial "author.html" .) }}
    <p><strong>Autor: </strong>{{ . }}</p>
  {{- end }}
{{- end }} 

<!-- Add the rest of the meta (date, reading time) on the second line -->
<!-- Date -->
{{- if not .Date.IsZero -}}
  {{- $scratch.Add "meta" (slice (printf "<span title='%s'><strong> / data publicării: </strong>%s</span>" (.Date) (.Date | time.Format (default "January 2, 2006" site.Params.DateFormat)))) }}
{{- end }}

<!-- Reading Time -->
{{- if (.Param "ShowReadingTime") -}}
  {{- $readingTime := printf "timp de citire: %d min" .ReadingTime }}
  {{- $scratch.Add "meta" (slice $readingTime) }}
{{- end }}

<!-- Word Count (optional, can be removed if not needed) -->
{{- if (.Param "ShowWordCount") -}}
  {{- $scratch.Add "meta" (slice (i18n "words" .WordCount | default (printf "%d words" .WordCount))) }}
{{- end }}

<!-- Combine and display the rest of the meta data on the next line -->
{{- with ($scratch.Get "meta") }}
  <p>{{- delimit . " / " | safeHTML -}}</p>
{{- end }}
