cusdis_thread.body {
        font-family: inherit;
        line-height: inherit;
        background: #fefff7;
        padding: 8px;
        border-radius: 5px;
        margin: 5px;
        overflow: hidden;
    }