{{ define "main" }}
  <section>
    <h1>{{ .Title }}</h1>
    <footer class="entry-footer">
      {{- partial "post_meta.html" . -}}
      <span> aici e spanul
      	{{ range .Param "authors" }}
      		{{ . }}
      	{{ end }}
      </span>
    </footer>
	<br />
	<br />
    <article>
      {{ .Content }}
    </article>
    <aside>
      {{ with .GetTerms "tags" }}
        <div>{{ (index . 0).Parent.LinkTitle }}</div>
        <ul>
          {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </aside>
  </section>
{{ end }}